.calendar-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-calendar , .rbc-calendar{
    height: 90%;
    width: 80%;
    /* padding: 10px 20px; */
}
.btn-div{
    display: flex;
    gap: 10px;
}
.common-calendar-btn , .team-calendar-btn{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1.5px solid #262626;
    border-radius: 5px;
}
.calendar-container h2{
    color: #415a77;
}
.rbc-btn-group button{
    color: #415a77 !important;
    border-color: #1b263b;
}
.rbc-btn-group button:hover{
    color: white !important;
    background-color: #1b263b;
}
.rbc-btn-group button:focus{
    color: white !important;
    background-color: #1b263b;
}
.rbc-toolbar{
    margin-bottom: 5px !important;
}
.rbc-toolbar-label{
    color: #415a77;
}
.rbc-header span{
    color: white;
}
.rbc-header{
    border-bottom: 1px solid #000;
    background-color: #1b263b;
    border-radius: 3px;
}
.rbc-month-view{
    padding: 8px;
    border:none !important;
    border-radius: 5px;
    background-color: #e9ecef;
    box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 4px 6px rgba(0, 0, 0, 0.08);
    border: 1.5px solid #D1D3DB;
}
.rbc-month-row + .rbc-month-row{
border-top: 1px solid #000 !important;
}
.rbc-day-bg + .rbc-day-bg{
    border-left: 1px solid #000 !important;
}

.rbc-button-link{
    color: #1b263b;
}
.rbc-current .rbc-button-link{
    color: #0b1831;
}
.rbc-current button{
    color: white !important; 
    text-decoration: underline; 
}
.rbc-today{
    background-color: #415a77;
    border-radius: 5px;
}
.rbc-off-range-bg{
    background-color: #415a7754;
}
.rbc-event-content{
    color: black;
    
}
.rbc-event{
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
}
.rbc-row-segment{
    display: flex;
    justify-content: center;
}