.employees-list-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 10px;
  overflow-y: scroll;
  margin-left: 20px;
}

.employees-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.employees-list-container::-webkit-scrollbar-track {
  /* background-color: #1b263b; */
  /* margin: 10px; */
}
.employees-list-container ::-webkit-scrollbar-thumb {
  background-color: #415a77;
  border-radius: 5px;
}
.employee-container {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  border: 1.5px solid #d1d3db;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.08);
  color: #ccc;
  width: auto;
  max-width: 190px;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 20px;
}
.employee-primary-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee-name {
  font-weight: 700;
  font-size: 18px;
  color: #415a77;
}
.employee-email {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  cursor: pointer;
}
.employee-number{
  font-size: 0.8rem;
}
.employee-role {
  font-size: 13px;
  color: #778da9;
}
.employee-id {
  color: #1b263b;
}
.employee-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e1dd;
  padding: 10px;
  color: #1b263b;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.08);
  border: 1.5px solid #d1d3db;

}
.employee-office-details {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #415a77;
}
