
.title {
  font-size: 20px;
  color: #0d1b2a;
  font-weight: 700;
margin: 20px;
}
.pending-section {
  width: auto;
  min-width: 350px;
  max-width: 350px;
  height: 434px;
  overflow-y: scroll;
  background-color: #e9ecef;
  border: 1.5px solid #D1D3DB;
  box-shadow:
  0 1px 3px rgba(0, 0, 0, 0.06),
  0 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.pending-section::-webkit-scrollbar {
display: none;
}

.pending-request-card {
  border-bottom: 1px solid #26262d;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leave-type-and-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.date-and-days {
  display: flex;
  justify-content: space-between;
}
.leave-name {
  font-size: 15px;
  color: #415a77;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.rs-modal-content {
  width: 400px;
  color: #ccc;
  background-color: #e0e1dd;
  box-shadow: 0 4px 22px rgba(125, 122, 122, 0.3),
    0 2px 4px rgba(125, 122, 122, 0.2);
}
.duration-indication{
  font-size: 0.7rem;
}
.rs-modal-title {
  color: #415a77;
}
.rs-steps-item {
  margin: 0;
}
.rs-steps-item-icon-wrapper {
  height: 20px;
  width: 20px;
  border-color: #1b263b !important;
}
.rs-steps-item-tail {
  padding: 0;
}
.rs-steps-item-content {
  margin-left: -10px;
}


.rs-steps-item-status-finish,.rs-steps-item-title:after{
    border-color: #1b263b !important;
}
.small-steps .rs-steps-item-title {
  font-size: 14px;
}
.rs-steps-item-title div p {
  margin: 0;
}

.small-steps .rs-steps-item-description {
  font-size: 11px;
}
.rs-icon{
    color: #1b263b;
}

.steps-role {
  font-size: 8px;
}
.rs-steps-item-title{margin-top: -5px;
}
.rs-steps-item-status-finish>.rs-steps-item-content>.rs-steps-item-title>div>p{
    color: #1b263b ;
}
.rs-steps-item-status-finish>.rs-steps-item-content>.rs-steps-item-description{
    color: #1b263b ;
}
.rs-steps-item-status-process>.rs-steps-item-content>.rs-steps-item-title>div>p{
    color:#415a77 ;
}
.rs-steps-item-status-process>.rs-steps-item-content>.rs-steps-item-description{
    color:#415a77 ;
}

.rs-btn{
    background-color: #415a77;
}
.rs-btn:hover{
  background-color: #1b263b;
}
.main-modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-flex-body {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100px;
    vertical-align: bottom;
  }
  
.menu-icon {
  background: transparent;
  color: black;
  font-size: 1rem;
  margin: 0;
}
.rs-btn-subtle{
    background-color: #ccc;
}
.rs-btn-subtle:hover{
  background-color: #ccc;
}
.cancel-btn{
    background-color: rgba(255, 0, 0, 0.636);
}
.cancel-btn:hover{
    background-color: red;
}
.pending {
  border: 1px solid rgba(255, 185, 0, 0.4);
  border-radius: 15px 15px;
  padding: 5px;
  font-size: small;
  color: #ffb900;
  font-weight: 500;
  background-color: rgba(255, 185, 0, 0.06);
}
.approved {
  border: 1px solid rgba(0, 212, 146, 0.4); 
  background-color: rgba(0, 212, 146, 0.06);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #00d492;
  font-weight: 500;
}

.rejected {
  border: 1px solid rgba(246, 97, 100, 0.4); 
  background-color: rgba(246, 97, 100, 0.06); 
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #f66164;
  font-weight: 500;
}

.cancelled {
  border: 1px solid rgba(246, 97, 100, 0.4); 
  background-color: rgba(246, 97, 100, 0.06); 
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #f66164;
  font-weight: 500;
}
.date {
  font-size: 12px;
  color: #020203;
  font-family: "Courier New", Courier, monospace;
}
.date-difference {
  font-size: 10px;
  margin-top: 7px;
  color: #63686f;
}

.modal-leave-details , .dates-range{
  color: #1b263b;
}

.rs-modal{
  width: auto;
  max-width: 350px;

}
.rs-form-group{
  width: 250px;
}
.rs-form-control-label{
  color: #1b263b;
}
.rs-modal-wrapper{
  display: flex;
  align-items: center;
}
.no-requests-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: #1b263b;
  margin-top: 20px;
}
.no-leaves-img{
  height: 200px;
  width: auto;
}
