.leave-request-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  overflow-y: scroll;
}
.leave-request-card-wrapper::-webkit-scrollbar{
    display: none;
}
.pending-card-container {
  width: 200px;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1.5px solid #d1d3db;
  color: white;
  gap: 20px;
  background-color: #e9ecef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.08);
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-name {
  font-size: 20px;
  color: #415a77;
  font-weight: 700;
}
.user-role {
  font-size: 13px;
  color: #778da9;
}
.user-email {
  font-size: 13px;
  color: #1b263b;
}
.primary-reason {
  color: #1b263b;
  background-color: #e0e1dd;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.08);
  border: 1.5px solid #d1d3db;
}
.leave-details-div {
  width: 100%;
}
.date-range-div {
  display: flex;
  gap: 5px;
}
.start , .end{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-reason-div {
  color: #415a77;
  font-size: 20px;
  font-weight: 600;
}
.reason-text-div {
  color: #778da9;
  font-size: 15px;
  font-weight: 500;
}
.approval-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  width: 70px;
  padding: 5px 10px;
  border-radius: 5px;
}
.approve-btn {
  background-color: #d4f5dc;
  color: #2e7d32;
  border: 1.5px solid #2e7d32;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 12px;

  display: flex;
  justify-content: center;
}

.reject-btn {
  background-color: #fdecea;
  color: #c0392b;
  border: 1.5px solid #c0392b;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
}
.reject-btn:hover , .reject-btn:focus{
  background-color: #fdecea;
  color: #c0392b;
}

.rs-modal-body{
  margin-top: 0;
}
.rs-modal-title{
  padding-bottom: 5px;
}