.form {
  height: auto;
  height: 350px;
  width: auto;
  min-width: 350px;
  border-radius: 5px;
  background-color: #e9ecef;
  border: 1.5px solid #D1D3DB;
  box-shadow:
  0 1px 3px rgba(0, 0, 0, 0.06),
  0 4px 6px rgba(0, 0, 0, 0.08);
}
.request-form {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.request-form-column{
display: flex;
flex: 2.5;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
margin: 5px;
}
.request-form-column-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2.5;
  border-left: 1.5px solid #26262d;
  margin: 5px;
  gap: 20px;
}
.leave-request-title {
  color: #263238;
  font-weight: 700;
  font-size: 20px;
}
.dates {
  display: flex;
  justify-content: space-between;

}
.date {
  display: flex;
  flex-direction: column;
}
.date label {
  font-family: Arial, Helvetica, sans-serif;
  color: #415a77;
}
#start-date,
#end-date {
  padding: 10px 20px;
  background-color: transparent;
  color: #bcc1c9;
  border: 1.5px solid #415a77;
  border-radius: 5px;
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #415a77;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#start-date:hover,
#end-date:hover,
.reason textarea:hover,
.dropdown-menu:hover {
  border-color: #415a77;
  animation: borderAnimation 0.5s ease-in-out;
}
#start-date:focus,
#end-date:focus {
  border-color: #415a77;
  margin: 2px;
}
@keyframes borderAnimation {
  0% {
    border-color: #26262d;
  }
  100% {
    border-color: #415a77;
  }
}
.leave-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #415a77;
  gap: 10px;

}
.leave-type-title , .reason-title {
  color: #0d1b2a;
  font-size: 20px;
  font-weight: 700;
  width: 90%;
}
.dropdown-menu{
  width: 90%;
  background: #e0e1dd;
  padding: 10px 20px;
  border: 1px solid #898d93;
  border-radius: 5px;
  color: black;
}

.dropdown-menu:focus{
  outline: none;
}






.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.reason-textarea {
  background-color: #e0e1dd;
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  width: 90%;
  outline: none;
  padding:4px;
}
.reason-textarea:hover{
  border: 1px solid #1b263b;
}
.reason-textarea:focus{
  border: 1.5px solid #1b263b;
}

.submit-button-div {
display: flex;
justify-content: flex-end;
margin-right: 15px;
}
.submit-btn {
  background-color: #1b263b !important;  
  border-radius: 5px;
  border: 1.5px solid #1b263b ;
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  transition: background-color 0.2s ease;
}


.submit-button-text {
  margin: 0;
  padding: 10px;
  color: white;
}


